footer {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-contact-user-info {
    display: flex;
    justify-content: center;
  }
  
  .footer-contact-logo {
    margin: 10px;
  }
  
  .footer-contact-logo img {
    width: 25px;
    height: 25px;
  }
  
  .footer-contact-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-contact-copyright {
    font-size: 12px;
  }