.aboutUs-section {
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .aboutUs-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .aboutUs-questions {
    max-width: 800px;
    margin: 0 auto; /* Centrar el contenido horizontalmente */
    padding: 20px;
  }
  
  .aboutUs-questions h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .aboutUs-questions p {
    font-size: 16px;
    line-height: 1.6;
  }